/* @media (max-width: 1400px) {
  .sertificate-item {
    min-height: 400px;
  }
} */

@media (max-width: 1200px) {
  .header-wrapper-default .navbar-menu-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbar-wrapper {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .navbar-wrapper-default {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .header-wrapper .navbar-menu-wrapper {
    display: none;
    flex-direction: column;
    width: 95%;
    margin-top: 20px;
    order: 3;
    position: absolute;
    top: 70%;
    left: 2%;
    z-index: 2;
  }
  .header-wrapper-default .navbar-menu-wrapper {
    display: none;
    flex-direction: column;
    width: 95%;
    margin-top: 20px;
    order: 3;
    position: absolute;
    top: 70%;
    left: 2%;
    z-index: 2;
  }

  .header-wrapper .navbar-menu-wrapper.active {
    display: flex;
  }
  .header-wrapper-default .navbar-menu-wrapper.active {
    display: flex;
  }

  .header-wrapper .navbar-menu-wrapper ul {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 15px 24px;
  }
  .header-wrapper-default .navbar-menu-wrapper ul {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 15px 24px;
  }

  .header-wrapper .navbar-menu-contact {
    padding: 10px 24px;
    width: 100%;
  }

  .header-wrapper-default .navbar-menu-contact {
    padding: 10px 24px;
    width: 100%;
  }

  .header-wrapper .navbar-contact-wrapper .contact-btn {
    width: 100%;
    text-align: center;
  }

  .header-wrapper-default .navbar-contact-wrapper .contact-btn {
    width: 100%;
    text-align: center;
  }

  .header-wrapper .navbar-contact-wrapper {
    display: none;
  }
  .header-wrapper-default .navbar-contact-wrapper {
    display: none;
  }

  .special-consultation .image-section .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .cta-banner .vector-left,
  .vector-right {
    display: none;
  }
  .tab-wrapper .tab-content .card {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-wrapper .footer-item .develop-wrapper {
    display: none;
  }
  .footer-wrapper .footer-item .develop-wrapper-mobile {
    display: block;
  }
  .header-wrapper-default .navbar-menu-wrapper ul li a {
    color: var(--text-color-white);
  }
}

@media (max-width: 992px) {
  .header-wrapper {
    height: 655px;
  }
  .header-wrapper .header-content {
    margin: 80px auto 0;
  }
  .top-bar {
    flex-direction: column;
    gap: 10px;
    padding: 16px 16px;
  }
  .top-bar-wrapper {
    flex-direction: column;
    gap: 10px;
    padding: 16px 16px;
  }
  .header-wrapper .header-content .header-content-title {
    font-size: 60px;
    max-width: 655px;
  }
  .footer-wrapper .col-12:nth-child(2),
  .footer-wrapper .col-12:nth-child(3) {
    justify-content: start;
  }

  .about-info-wrapper .about-info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .header-wrapper .header-content {
    margin: 60px auto 0;
  }
  .header-wrapper .navbar-logo-wrapper img {
    max-width: 200px;
  }
  .header-wrapper .navbar-wrapper {
    padding: 20px 20px;
  }
  .header-wrapper-default .header-content {
    margin: 60px auto 0;
  }
  .header-wrapper-default .navbar-logo-wrapper img {
    max-width: 200px;
  }
  .header-wrapper-default .navbar-wrapper {
    padding: 20px 20px;
  }
  .header-wrapper .header-content .header-content-title {
    font-size: 48px;
    max-width: 655px;
  }
  .header-wrapper .header-content .course-btn-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .header-wrapper .header-content .course-btn-wrapper .course-btn,
  .header-content .play-btn-wrapper .video-btn,
  .header-content .social-proof a {
    font-size: 15px;
  }

  .header-content .social-proof {
    flex-direction: column;
  }

  .header-content .avatars img {
    width: 40px;
    height: 40px;
  }
  .courses-wrapper
    .courses-card
    .course-content
    .course-instructors
    .instructor-avatars
    img {
    width: 40px;
    height: 40px;
  }
  .special-consultation .image-section .features-grid {
    grid-template-columns: 1fr;
    margin-top: -50px;
    padding: 30px 20px;
    text-align: center;
  }
  .cta-banner .cta-content p {
    padding: 0 clamp(25px, 4vw, 60px);
  }

  .testimonial-wrapper .glider-prev-testimonial {
    top: 0%;
  }
  .testimonial-wrapper .glider-next-testimonial {
    top: 0%;
  }
  .our-teacher-wrapper .glider-prev-teacher {
    top: 0%;
  }
  .our-teacher-wrapper .glider-next-teacher {
    top: 0%;
  }
  .sertificate-wrapper .glider-prev-teacher {
    top: 0%;
  }
  .sertificate-wrapper .glider-next-teacher {
    top: 0%;
  }
  /* about us start */
  .about-us-content h3 {
    text-align: center;
    padding: 0 10px;
  }
  .about-us-content .about-us-intro-content {
    grid-template-columns: 1fr;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-us-content .about-us-list-wrapper .about-us-list {
    padding: 0 10px;
  }
  .about-us-content .about-us-list-wrapper {
    grid-template-columns: 1fr;
  }
  .about-us-content .about-us-list-wrapper h3 {
    margin-bottom: 10px;
  }
  .about-us-content .about-us-list-wrapper .about-us-list-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-us-content
    .about-us-list-wrapper
    .about-us-list-item
    .about-us-list-content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about-social-wrapper h3 {
    text-align: center;
  }
  .about-social-wrapper .about-social-description {
    text-align: center;
  }
  .about-social-wrapper .about-social-box {
    justify-content: center;
  }
  .about-social-wrapper .about-social-box .about-social img {
    width: 25px;
    height: 25px;
  }
  /* about us end */

  /* contact start */
  .contact-wrapper {
    flex-direction: column;
  }
  .contact-address-wrapper {
    text-align: center;
  }
  .contact-wrapper .contact-form-wrapper {
    max-width: 768px;
  }
  .map-wrapper iframe {
    aspect-ratio: 2 / 1.5;
  }
  /* contact end */
}

@media (max-width: 600px) {
  .top-bar {
    flex-direction: row;
  }
  .top-bar-wrapper {
    flex-direction: row;
  }
  .top-bar .top-bar-left .contact-item:nth-child(1) {
    display: none;
  }
  .top-bar .top-bar-left .contact-item:nth-child(3) {
    display: none;
  }
  .top-bar .social-wrapper {
    display: none;
  }
  .top-bar-wrapper .top-bar-left .contact-item:nth-child(1) {
    display: none;
  }
  .top-bar-wrapper .top-bar-left .contact-item:nth-child(3) {
    display: none;
  }
  .top-bar-wrapper .social-wrapper {
    display: none;
  }
  .top-bar .top-bar-left {
    flex-direction: column;
    gap: 8px;
  }

  .top-bar .top-bar-right {
    flex-direction: column;
    gap: 8px;
  }

  .top-bar .top-bar-left .divider,
  .top-bar-right .divider {
    display: none;
  }

  .top-bar .top-bar-right .language-wrapper .dropdown-menu {
    transform: translate(0%, 26px) !important;
  }
  .top-bar-wrapper .top-bar-left {
    flex-direction: column;
    gap: 8px;
  }

  .top-bar-wrapper .top-bar-right {
    flex-direction: column;
    gap: 8px;
  }

  .top-bar-wrapper .top-bar-left .divider,
  .top-bar-right .divider {
    display: none;
  }

  .top-bar-wrapper .top-bar-right .language-wrapper .dropdown-menu {
    transform: translate(0%, 26px) !important;
  }
  .header-wrapper .navbar-menu-wrapper {
    border-radius: 32px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0;
  }
  .course-card-wrapper {
    padding: 0 12px;
  }
  .header-wrapper {
    height: 600px;
  }
  .header-wrapper .header-content {
    margin: 30px auto 0;
  }
  .header-wrapper .header-content .header-content-title {
    font-size: 32px;
    max-width: 655px;
  }
  .header-wrapper .header-content .header-content-description {
    font-size: 16px;
  }
  .cta-banner {
    height: 250px;
  }
  .testimonial-wrapper .glider-wrapper .glider-header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .testimonial-wrapper .glider-arrow-wrapper {
    right: 10px;
  }
  .our-teacher-wrapper .glider-wrapper .glider-header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .our-teacher-wrapper .glider-arrow-wrapper {
    right: 10px;
  }
  .sertificate-wrapper .glider-wrapper .glider-header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .sertificate-wrapper .glider-arrow-wrapper {
    right: 10px;
  }
  .sertificate-wrapper .glider-wrapper .glider-contain .glider-item {
    width: 410px !important;
  }
  .tab-wrapper .tab-content .card {
    grid-template-columns: 1fr;
  }
  .tab-wrapper .tab-content .card .card-item {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-wrapper .col-12:nth-child(2),
  .footer-wrapper .col-12:nth-child(3) {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-wrapper .footer-item {
    text-align: center;
  }
  .footer-wrapper .footer-item ul {
    justify-content: center;
    align-items: center;
  }
  /* about us start */
  .about-us-banner-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about-info-wrapper p {
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-info-wrapper .about-info-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .about-info-wrapper .about-info-container .about-info-item {
    padding: 0 10px;
  }
  /* about us end */
}

@media (max-width: 395px) {
  .header-wrapper .navbar-logo-wrapper img {
    max-width: 150px;
  }
  .header-wrapper .navbar-menu-wrapper .navbar-contact-wrapper {
    width: 200px;
  }
  .header-wrapper .navbar-menu-wrapper .navbar-contact-wrapper .contact-btn {
    padding: 10px 16px;
  }
  .contact-modal {
    max-width: 320px;
  }
}

/* MIN WIDTH */
